@using ZcrlPortal.Models
@model StaticChapter
@{
    Layout = "~/Views/Shared/_main.cshtml";
}

<div class="userBio">
    @using (Html.BeginForm("ChangeChapter", "Editor", FormMethod.Post))
    {
        <br />
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ChapterType)
        @Html.TextAreaFor(m => m.Content)
        <h1 style="text-align: center"><button type="submit">Зберегти зміни</button></h1>
    }
</div>

<script>
    CKEDITOR.replace('Content', {
         toolbar: [
         { name: 'clipboard', groups: ['clipboard', 'undo'], items: ['Cut', 'Copy', 'Paste', '-', 'Undo', 'Redo'] },
         { name: 'editing', groups: ['find', 'selection', 'spellchecker'], items: ['Find', 'Replace', '-', 'Maximize'] },
         '/',
         { name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-','RemoveFormat'] },
         { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Blockquote'] },
         { name: 'links', items: ['Link', 'Image', 'Anchor', 'Table', 'TextColor'] },
         { name: 'styles', items: ['Format'] },
         ],
        filebrowserImageUploadUrl: '@Url.Action("UploadImage", "Editor")',
        format_tags: 'p;h2',
        image2_alignClasses: ['image-left', 'image-center', 'image-right'],
    });
</script>

