body
{
	padding: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.siteContainer
{
	width: 1000px;
	padding: 0px;
	margin: 0 auto;
	background-color: #ffffff;
	vertical-align: top;
}
.siteContainer > *
{
	vertical-align: top;
}

.siteHeaderPath
{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.headerLogo
{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.siteMenuPath
{
	height: 40px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 10px;
}

.siteLeftNavyPath
{
	display: inline-block;
	width: 250px;
	padding: 0px;
	margin: 0px;
}

.navyPathHeader
{
	height: 20px;
	margin: 0px;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	background: none repeat scroll 0 0 #1d1d1d;
	color: #ffffff;
	font-weight: bold;
}

.navyPathContent
{
	display: inline-block;
	width: 100%;
	background-color: #F8F8F8;
	margin: 0px;
	margin-bottom: 10px;
}

.siteContentPath
{
	display: inline-block;
	background: #F8F8F8;
	width: 740px;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	padding-right: 0px;
	text-align: justify;
}


.contentHeader
{
	display: block;
	width: 726px;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	padding-top: 3px;
	height: 27px;
	margin-bottom: 5px;
	background: linear-gradient(#2330e3, #0d1688) repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	vertical-align: middle;
}

.advLink, .advLink:hover, .advLink:visited, .advLink:active
{
    text-decoration: none;
}

.advItem
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	max-width: 240px;
	max-height: 100px;
	border: none;
}

.siteFooterPath
{
	display: block;
	margin: 0px;
	margin-top: 15px;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	vertical-align: middle;
	background-color: #F8F8F8;
}

.devLink, .devLink:active, .devLink:visited
{
	text-decoration: none;
	color: #2a3ab0;
}

.devLink:hover
{
	text-decoration: underline;
	color: #b42770;
}

.siteContentPath h2.errorHeader
{
    display: block;
    color: #343434;
    text-align: center;
    font-size: 61px;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    padding: 0;
}

.siteContentPath h2.errorHeader img.errorImg
{
    vertical-align: top;
}

img.errorImg
{
    height: 60px;
    width: 60px;
}

.siteContentPath h3.errorContent
{
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}