@{
    ViewBag.Title = "Помилка доступу";
    Layout = "~/Views/Shared/_main.cshtml";
}


<br />
<h2 class="errorHeader"><img src="@Url.Content(@"~\Styles\img\error.png")" class="errorImg" />&nbsp;Помилка</h2>
<h3 class="errorContent">У вас недостатньо прав для здійснення данної операції чи доступу до данного ресурсу.</h3>
<br /><br /><br />
