@{
    ViewBag.Title = "Внутрішня помилка";
    Layout = "~/Views/Shared/_main.cshtml";
}
<br />
<h2 class="errorHeader"><img src="@Url.Content(@"~\Styles\img\error.png")" class="errorImg" />&nbsp;Помилка</h2>
<h3 class="errorContent">Збій в роботі системи. Повторіть Ваш запит пізніше.</h3>
<br /><br /><br />
