@{
    ViewBag.Title = "Помилка доступу";
    Layout = "~/Views/Shared/_main.cshtml";
}

<br />
<h2 class="errorHeader"><img src="@Url.Content(@"~\Styles\img\error.png")" class="errorImg" />&nbsp;Помилка</h2>
<h3 class="errorContent">Вказаний ресурс не знайдений. Перевірте правильність вводу адреси.</h3>
<br /><br /><br />
