@{
    ViewBag.Title = "Змінити пароль";
    Layout = "~/Views/Shared/_main.cshtml";

    int id = ViewBag.PassOwnerId;
}

<div class="editProfileContainer">
    @if (TempData["Error"] != null && !string.IsNullOrWhiteSpace((string)TempData["Error"]))
    {
        <div class="errorMessage">@TempData["Error"]</div>
    }
    
    @using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post, new { @class = "smart-green" }))
    {
        @Html.Hidden("id", id)
        <table>
            <tr>
                @if(!User.IsInRole("Administrators"))
                {
                    <th>Старий пароль:</th>
                    <td><input name="oldPass" type="password" /></td>
                }
            </tr>
            <tr>
                <th>Новий пароль:</th>
                <td><input name="newPass" type="password" /></td>
            </tr>
            <tr>
                <th>Підтвердіть пароль:</th>
                <td><input name="confirmNewPass" type="password" /></td>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center;"><button type="submit">Змінити пароль</button></th>
            </tr>
        </table>
    }
</div>
